{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Page not found</h1>
    <p class="govuk-body">If you typed the web address, check it is correct.</p>
    <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
    <p class="govuk-body">
      If the web address is correct or you selected a link or button, please email us at <a href="mailto:ayr@nationalarchives.gov.uk" class="govuk-link">ayr@nationalarchives.gov.uk</a> for assistance.
    </p>

    <p class="govuk-body">
      Go back to the <a href="https://mzusdk.axshare.com/?id=9tw68n&p=browse__3-all-access-users-1_4&c=1" class="govuk-link">home screen</a>.
    </p>


</div>


{% endblock %}
