{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Access your records</h1>
    <p class="govuk-body">Use this service to access digital records at The National Archives.</p>

    {{ govukButton({
      text: "Start now",
      href: "sign-in-su.html",
      isStartButton: true
    }) }}
    <div class="govuk-!-padding-bottom-7"></div>
    <h2 class="govuk-heading-m">Before you start</h2>
    <p class="govuk-body">This service is in private beta. Please refer to our <a href="how-to-use-this-service.html" class="govuk-link">How to use this service</a> page
      for information about using Access Your Records.</p>

</div>


{% endblock %}
