{% extends "layouts/main.html" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukWarningText({
      text: "Do not share your details with anyone else.",
      iconFallbackText: "Warning"
    }) }}
    <h1 class="govuk-heading-l">Sign in to Access Your Records</h1>
    <p class="govuk-body-l">Please enter your government department credentials.</p>

    {{ govukInput({
      label: {
        text: "Email",
        classes: "govuk-label--m",
        isPageHeading: true
      },
      id: "event-name",
      name: "eventName"
    }) }}

    {{ govukInput({
      label: {
        text: "Password",
        classes: "govuk-label--m",
        isPageHeading: true
      },
      id: "event-name",
      name: "eventName"
    }) }}


    {{ govukButton({
      text: "Sign in",
      href: "services.html"
    }) }}
    
    

  </div>
</div>


{% endblock %}
