{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Access Your Records (AYR)</h1>
    <h2 class="govuk-heading-m">Welcome</h2>
    {{ govukRadios({
      classes: "govuk-radios--small",
      name: "whereDoYouLive",
      fieldset: {
        legend: {
          text: "Where do you live?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "england",
          text: "England"
        },
        {
          value: "scotland",
          text: "Scotland"
        },
    
        {
          value: "northern-ireland",
          text: "Northern Ireland"
        }
      ]
    }) }}

  </div>
</div>


{% endblock %}
