{% extends "layouts/main-keycloak.html" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="account-number">
          Enter your one-time passcode
        </label>
      </h1>
      <div id="account-number-hint" class="govuk-hint">
        For example, '123456' without any spaces.
      </div>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Where do I find the one-time passcode?
          </span>
        </summary>
        <div class="govuk-details__text">
          Your one-time passcode can be found in your chosen authenticator app that was used to set up your account.
        </div>
      </details>

      <input class="govuk-input govuk-input--width-5" id="passcode-number" name="passcodeNumber" type="text" spellcheck="false" aria-describedby="passcode-number-hint" inputmode="numeric">
    </div>


    {{ govukButton({
      text: "Continue",
      href: "https://mzusdk.axshare.com/?id=lqfu7k&p=browse__4-all-access-users-1_4&c=1"
    }) }}

  </div>


</div>


{% endblock %}
