{% extends "layouts/main.html" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Reset your password</h1>
    <p class="govuk-body-l">
      Please enter your registered AYR email address.
    </p>

    {{ govukInput({
      label: {
        text: "Email",
        classes: "govuk-label--s",
        isPageHeading: true
      },
      id: "email",
      name: "eventName"
    }) }}


    {{ govukButton({
      text: "Submit",
      href: "#"
    }) }}

    <p class="govuk-body">If you have an account, you will receive an email with a new password link.
    </p>

    <p class="govuk-body">
      <a href="#" class="govuk-link">Go back to sign in</a>
    </p>
  </div>
</div>


{% endblock %}


{{ govukInput({
  fieldset: {
    legend: {
      classes: "govuk-fieldset__legend--s",
      text: "What servies would you like to use?"
    }
  },
  hint: {
    text: "Select one option"
  },
  items: [{
    value: "email",
    text: "Email",
    conditional: {
      html: govukInput({
        classes: "govuk-!-width-one-third",
        label: {
          text: "Email address"
        },
        type: "email",
        spellcheck: "false",
        decorate: "email-address",
        validate: {
          conditional: {
            dependentOn: {
              name: "[contact-method]",
              value: "email"
            },
            message: "Enter your email address"
          }
        }
      })
    }
  }, {
    value: "password",
    text: "Password",
    conditional: {
      html: govukInput({
        classes: "govuk-!-width-one-third",
        label: {
          text: "Your password"
        },
        type: "tel",
        decorate: "phone-number",
        validate: {
          conditional: {
            dependentOn: {
              name: "[contact-method]",
              value: "phone"
            },
            message: "Enter your phone number"
          }
        }
      })
    }
  }],
  decorate: "contact-method",
  validate: {
    presence: {
      message: "Select a contact method"
    }
  }
}) }}
