

{% extends "layouts/main.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}


{% block content %}



    {{ govukInput({
      hint:{ 
        html:"<p>Find digital records transferred to The National Archives.</p>"
      },
      label: {
        html: "Search for closed records",
        classes: "govuk-label--l",
        isPageHeading: true
      },
      
      id: "event-name",
      name: "eventName"
    }) }}

    {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "changedName",
      fieldset: {
        legend: {
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },

      items: [
        {
          value: "myRecords",
          text: "My records"
        },
        {
          value: "deptRecords",
          text: "All departments records"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Search"
    }) }}
    

    <div class="govuk-!-padding-bottom-6"></div>
   
{% endblock %}
